* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

@keyframes liveCircle {
  0% {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
  }
  100% {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
  }
}

.main {
  width: 1000px;
  height: 400px;
  background-color: antiquewhite;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first {
  width: 1000px;
  height: 100px;
  text-align: center;
  padding-top: 10px;
}
.first_Internal{
  display: flex;
  justify-content: center;
}

.headingOne {
  font-size: 40px;
}

.liveCircle {
  animation-name: liveCircle;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  margin-top: 15px;
  margin-right: 10px;
}

.headingTwo {
  color: rgb(96, 15, 217);
}
.desclaimer {
  background-color: aliceblue;
  border-radius: 10px;
  color: rgb(152, 182, 62);
  margin: 0 10px;
}

.ulTag {
  list-style: none;
}
.ulDivOne {
  display: flex;
}
.ulDivTwo {
  display: flex;
}

.ulDivOne div,
.ulDivTwo div {
  width: 250px;
  height: 100px;
  margin: 10px 35px;
  background-color: rgb(188, 228, 238);
  position: relative;
  top: 10%;
  left: 4%;
  transform: translate(-10%, 10%);
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}

.paraOne {
  font-size: 18px;
  font-weight: bold;
  color: rgb(162, 73, 73);
  padding-top: 15px;
}
.paraTwo {
  font-size: 24px;
  font-weight: bold;
  color: rebeccapurple;
}
.spanOne {
  font-size: 30px;
  font-weight: bold;
}
